# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List a few examples

1. r
2. Python
3. Julia

1. Pandas
2. Numpy
3. ggplot

|Data Science Tools|
|-|
|Spark|
|Flink|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Juntao Zhao